{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>{% block title %}SEGURIDADTECKPERU{% endblock title %}</title>

    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" type="image/x-icon">

    <!-- Fontawesome icons -->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/fontawesome-6.5.1/css/all.min.css' %}">

    <!-- Bootstrap5 CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap-5.3.2/css/bootstrap.min.css' %}">

    <!-- Estilos personalizados -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.min.css' %}">
    
    <!-- CSS personalizado para el logo -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">

    {% block header %}{% endblock %}
</head>

<body>
    {% block topbar %}
        {% if request.user.is_authenticated %}
            {% include 'navbar.html' %}
        {% endif %}
    {% endblock %}

    {% block sidebar %}
        {% include 'sidebar.html' %}
    {% endblock %}

    {% block maincontent %}
    <div id="main">
        <div class="container-fluid" id="main-content">
            {% block content %}{% endblock content %}
        </div>
    </div>
    {% endblock %}

    <!-- Scripts en el orden CORRECTO -->
    <script src="{% url 'javascript-catalog' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/jquery-3.7.1/jquery-3.7.1.min.js' %}"></script>
    
    <!-- Bootstrap Bundle with Popper (DEBE estar después de jQuery) -->
    <script type="text/javascript" src="{% static 'vendor/bootstrap-5.3.2/js/bootstrap.bundle.min.js' %}"></script>
    
    <!-- Scripts personalizados -->
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    
    <script>
    var langSelect = document.getElementById("lang-select");
    if (langSelect) {
        langSelect.addEventListener("change", function() {
            console.log("Changed!");
            document.getElementById("lang-form").submit();
        });
    }
    </script>
    
    {# Bloque para scripts globales o reutilizables #}
    {% block js %}{% endblock js %}
    {# Bloque para scripts específicos de cada template (por ejemplo, cotización) #}
    {% block extra_js %}{% endblock %}
</body>

</html>